.signup__footer
  .signup__footer__detail
    = link_to "プライバシーポリシー"
    = link_to "メルカリ利用規約"
    = link_to "特定商取引に関する表記"
  .signup__footer__logo
    = link_to root_path do
      = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2482339763", width: "80px"
  %p © 2019 Mercari