.wrapper
  = render 'shared/header'
  .large-mp-main-contents
    .mp-main-contents
      = render "shared/side-menu-bar"
      .mp-right-box
        .l-chapter-container
          %h2.l-chapter-container__title
            支払い方法
          .l-chapter-container__card-info-box
            .l-chapter-container__card-info-box__section
              .l-chapter-container__card-info-box__section__middle-title
                %h3.l-chapter-container__card-info-box__section__middle-title__text
                  クレジットカード一覧
              %ul.l-chapter-container__card-info-box__section__payment-list
                %li
                  -# = クレジットカード情報を変更するformを実装予定
            .l-chapter-container__card-info-box__help
              = link_to "" , class: "l-chapter-container__card-info-box__help__link" do
                %span 支払い方法について
                = fa_icon "chevron-right", class: "icon-arrow-right"

    = render 'shared/footer'