.wrapper
  = render 'shared/header'
  .large-mp-main-contents
    .mp-main-contents
      = render "shared/side-menu-bar"
      .mp-right-box
        .l-chapter-container
          %h2.l-chapter-container__title
            発送元・お届け先住所変更
          = form_with model: @user ,class: "l-chapter-container__delivery-address-form" do |f|
            = f.fields_for :delivery_addresses do |d|
              .l-chapter-container__delivery-address-form__input-lists
                .l-chapter-container__delivery-address-form__input-lists__input-box
                  = d.label :last_name_kanji, 'お名前'
                  %span.l-chapter-container__delivery-address-form__input-lists__input-box__importance 必須
                  = d.text_field :last_name_kanji, value: @user.delivery_address.last_name_kanji, class: "l-chapter-container__delivery-address-form__input-lists__input-box__text-field"
                  = d.text_field :first_name_kanji, value: @user.delivery_address.first_name_kanji, class: "l-chapter-container__delivery-address-form__input-lists__input-box__text-field"
                .l-chapter-container__delivery-address-form__input-lists__input-box
                  = d.label :last_name_kana, 'お名前カナ'
                  %span.l-chapter-container__delivery-address-form__input-lists__input-box__importance 必須
                  = d.text_field :last_name_kana, value: @user.delivery_address.last_name_kana, class: "l-chapter-container__delivery-address-form__input-lists__input-box__text-field"
                  = d.text_field :first_name_kana, value: @user.delivery_address.first_name_kana, class: "l-chapter-container__delivery-address-form__input-lists__input-box__text-field"
                .l-chapter-container__delivery-address-form__input-lists__input-box
                  = d.label :postal_code, '郵便番号'
                  %span.l-chapter-container__delivery-address-form__input-lists__input-box__importance 必須
                  = d.text_field :postal_code, value: @user.delivery_address.postal_code, class: "l-chapter-container__delivery-address-form__input-lists__input-box__text-field"
                .l-chapter-container__delivery-address-form__input-lists__input-box
                  = d.label :prefectures, '都道府県'
                  %span.l-chapter-container__delivery-address-form__input-lists__input-box__importance 必須
                  .l-chapter-container__delivery-address-form__input-lists__input-box__select-box
                    = fa_icon "chevron-down" ,class: "l-chapter-container__delivery-address-form__input-lists__input-box__select-box__icon"
                    = d.select :prefectures,[["北海道","1"],["青森県","2"],["岩手県","3"],["宮城県","4"],["秋田県","5"],["山形県","6"],["福島県","7"],["茨城県","8"],["栃木県","9"],["群馬県","10"],["埼玉県","11"],["千葉県","12"],["東京都","13"],["神奈川県","14"],["新潟県","15"],["富山県","16"],["石川県","17"],["福井県","18"],["山梨県","19"],["長野県","20"],["岐阜県","21"],["静岡県","22"],["愛知県","23"],["三重県","24"],["滋賀県","25"],["京都府","26"],["大阪府","27"],["兵庫県","28"],["奈良県","29"],["和歌山県","30"],["鳥取県","31"],["島根県","32"],["岡山県","33"],["広島県","34"],["山口県","35"],["徳島県","36"],["香川県","37"],["愛媛県","38"],["高知県","39"],["福岡県","40"],["佐賀県","41"],["長崎県","42"],["熊本県","43"],["大分県","44"],["宮崎県","45"],["鹿児島県","46"],["沖縄県","47"]], { include_blank: "---", selected:"" }, value: @user.delivery_address.prefectures, class: "l-chapter-container__delivery-address-form__input-lists__input-box__select-box__select-lists"
                .l-chapter-container__delivery-address-form__input-lists__input-box
                  = d.label :city, '市町村'
                  %span.l-chapter-container__delivery-address-form__input-lists__input-box__importance 必須
                  = d.text_field :city, value: @user.delivery_address.city, class: "l-chapter-container__delivery-address-form__input-lists__input-box__text-field"
                .l-chapter-container__delivery-address-form__input-lists__input-box
                  = d.label :address, '番地'
                  %span.l-chapter-container__delivery-address-form__input-lists__input-box__importance 必須
                  = d.text_field :address, value: @user.delivery_address.address, class: "l-chapter-container__delivery-address-form__input-lists__input-box__text-field"
                .l-chapter-container__delivery-address-form__input-lists__input-box
                  = d.label :building, '建物名'
                  %span.l-chapter-container__delivery-address-form__input-lists__input-box__importance-low 任意
                  = d.text_field :building, value: @user.delivery_address.building, class: "l-chapter-container__delivery-address-form__input-lists__input-box__text-field"
                .l-chapter-container__delivery-address-form__input-lists__input-box
                  = d.label :tel_number, '電話'
                  %span.l-chapter-container__delivery-address-form__input-lists__input-box__importance-low 任意
                  = d.text_field :tel_number, value: @user.delivery_address.tel_number, class: "l-chapter-container__delivery-address-form__input-lists__input-box__text-field"
                  %br

                  = f.submit '変更する', class: "btn-default_btn-red"

    = render 'shared/footer'