メール/パスワード
= form_with model: @user do |f|
  = f.label :email, 'メールアドレス'
  %br
  = f.text_field :email
  %br

  = f.label :password, "新しいパスワード"
  %br
  - if @minimum_password_length
    %em
      (#{@minimum_password_length} characters minimum)
  = f.password_field :password, autofocus: true, autocomplete: "7文字以上"
  %br

  = f.label :password_confirmation, "新しいパスワード確認"
  %br
  = f.password_field :password_confirmation, autocomplete: "7文字以上"
  %br

  = f.submit '変更する'