.wrapper
  = render 'shared/header'
  .large-mp-main-contents
    .mp-main-contents
      = render "shared/side-menu-bar"
      .mp-right-box
        .l-chapter-container
          %h2.l-chapter-container__title
            メール/パスワード
          = form_with model: @user , class: "l-chapter-container__mail-edit-form" do |f|
            .l-chapter-container__mail-edit-form__input-lists
              .l-chapter-container__mail-edit-form__input-lists__input-box
                = f.label :email, 'メールアドレス'
                = f.text_field :email, placeholder: "PC・携帯どちらでも可", class: "l-chapter-container__mail-edit-form__input-lists__input-box__email"
                %p.l-chapter-container__mail-edit-form__input-lists__input-box__form-info-text
                  メールアドレスを変更すると確認メールが送信されます。メール内のURLをクリックすると変更完了です。
              .l-chapter-container__mail-edit-form__input-lists__input-box
                = f.label :current_password, "現在のパスワード"
                = f.password_field :current_password, autocomplete: "current-password", class: "l-chapter-container__mail-edit-form__input-lists__input-box__email"
                = f.label :password, "新しいパスワード確認", class: "l-chapter-container__mail-edit-form__input-lists__input-box__label"
                = f.password_field :password, autofocus: true, placeholder: "7文字以上", class: "l-chapter-container__mail-edit-form__input-lists__input-box__email"
                - if @minimum_password_length
                  %em
                    (#{@minimum_password_length} characters minimum)
                = f.label :password_confirmation, "新しいパスワード確認", class: "l-chapter-container__mail-edit-form__input-lists__input-box__label"
                = f.password_field :password_confirmation, placeholder: "7文字以上", class: "l-chapter-container__mail-edit-form__input-lists__input-box__email"
                %p.l-chapter-container__mail-edit-form__input-lists__input-box__form-info-text
                  パスワードを設定したい場合は上記をすべて入力してください。（設定しない場合は空欄）

                = f.submit '変更する', class: "btn-default_btn-red"

    = render 'shared/footer'