本人情報の登録
%br
お客さまの本人情報をご登録ください。
%br
登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
%br
本人確認書類のアップロードについて
%br
お名前
%br
= @user.last_name_kanji
= @user.first_name_kanji
%br
お名前カナ
%br
= @user.last_name_kana
= @user.first_name_kana
%br
生年月日
%br
= @user.birthday.strftime("%Y/%m/%d")
= form_with model: @user do |f|
  郵便番号
  %br
  = f.text_field :postal_code
  %br
  都道府県
  %br
  = f.text_field :prefectures
  %br
  市区町村
  %br
  = f.text_field :city
  %br
  番地
  %br
  = f.text_field :address
  %br
  建物名
  %br
  = f.text_field :building
  %br
  = f.submit '登録する'