.exhibit-button
  = render 'shared/exhibit-btn'

.footer-image
  = image_tag 'mercari_footer.png', alt: 'mercari', height: '286', width: '100%'
  .footer-image__smartphone
    = image_tag 'mercari_smartphone.png', alt: 'mercari', height: '286', width: '300'
  .footer-image__sentence1
    %li スマホでかんたんフリマアプリ
  .footer-image__sentence2
    %li 今すぐ無料ダウンロード！
  .footer-image__mercari-logo
    = link_to image_tag("mercari_logo2.png", size: "68x68", alt: "mercari_2"), root_path
  .footer-image__appstore-logo
    = link_to image_tag("https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg", alt: "app-store", size: "144x40", class: "app-store"), root_path
  .footer-image__googleplay-logo
    = link_to image_tag("https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg", alt: "google-play", size: "144x40", class: "google-play"), root_path
.footer
  .footer-box
    .footer-box__footer-box2
      .footer-box__footer-box2__column1
        .footer-box__footer-box2__column1__title
          メルカリについて
        .footer-box__footer-box2__column1__aboutmercari
          .footer-box__footer-box2__column1__aboutmercari__topic
            .footer-box__footer-box2__column1__aboutmercari__topic__li1
              会社概要（運営会社）
            .footer-box__footer-box2__column1__aboutmercari__topic__li2
              採用情報
            .footer-box__footer-box2__column1__aboutmercari__topic__li3
              プレスリリース
            .footer-box__footer-box2__column1__aboutmercari__topic__li4
              公式ブログ
            .footer-box__footer-box2__column1__aboutmercari__topic__li5
              メルカリロゴ利用ガイドライン
            .footer-box__footer-box2__column1__aboutmercari__topic__tweeter-logo
              %i.fab.fa-twitter
            .footer-box__footer-box2__column1__aboutmercari__topic__facebook-logo
              %i.fab.fa-facebook-square
            .footer-box__footer-box2__column1__aboutmercari__topic__mercari-logo
              = link_to image_tag("mercari_logo_white.png", size: "150x50", alt: "mercari_white"), root_path

      .footer-box__footer-box2__column2
        .footer-box__footer-box2__column2__title
          ヘルプ＆ガイド
        .footer-box__footer-box2__column2__helpandguide
          .footer-box__footer-box2__column2__helpandguide__topic
            .footer-box__footer-box2__column2__helpandguide__topic__li1
              メルカリガイド
            .footer-box__footer-box2__column2__helpandguide__topic__li2
              らくらくメルカリ便
            .footer-box__footer-box2__column2__helpandguide__topic__li3
              ゆうゆうメルカリ便
            .footer-box__footer-box2__column2__helpandguide__topic__li4
              大型メルカリ便
            .footer-box__footer-box2__column2__helpandguide__topic__li5
              車体取引ガイド
            .footer-box__footer-box2__column2__helpandguide__topic__li6
              メルカリあんしん・あんぜん宣言！
            .footer-box__footer-box2__column2__helpandguide__topic__li7
              偽ブランド品撲滅への取り組み
            .footer-box__footer-box2__column2__helpandguide__topic__li8
              メルカリボックス
  
      .footer-box__footer-box2__column3
        .footer-box__footer-box2__column3__title
          プライバシーと利用規約
        .footer-box__footer-box2__column3__privacy
          .footer-box__footer-box2__column3__privacy__topic
            .footer-box__footer-box2__column3__privacy__topic__li1
              プライバシーポリシー
            .footer-box__footer-box2__column3__privacy__topic__li2
              メルカリ利用規約
            .footer-box__footer-box2__column3__privacy__topic__li3
              あんしんスマホサポート制度に関する利用特約
            .footer-box__footer-box2__column3__privacy__topic__li4
              コンプライアンスポリシー
            .footer-box__footer-box2__column3__privacy__topic__li4
      .footer-box__footer-box2__column4
        .footer-box__footer-box2__column4__privacy
          .footer-box__footer-box2__column4__privacy__topic
            .footer-box__footer-box2__column4__privacy__topic__li1
              個人データの安全管理に係る基本方針
            .footer-box__footer-box2__column4__privacy__topic__li2
              特定商取引に関する表記
            .footer-box__footer-box2__column4__privacy__topic__li3
              資金決済法に基づく表示
            .footer-box__footer-box2__column4__privacy__topic__li4
              法令順守と犯罪抑止のために
        
      .footer-box__footer-box2__column5
        .footer-box__footer-box2__column5__title
          国
        .footer-box__footer-box2__column5__country
          .footer-box__footer-box2__column5__country__topic
            .footer-box__footer-box2__column5__country__topic__li1
              日本
            .footer-box__footer-box2__column5__country__topic__li2
              United States

  .year-mercari
    ©2019 Mercari

