.header
  .header__box
    .header__box__upper
      .header__box__upper__logo
        = link_to root_path do
          = image_tag("https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", size: "134x36", alt: "mercari")
      .header__box__upper__form
        %input.header__box__upper__form__upper-search{name: "search", placeholder: "何かお探しですか？", type: "text"}
        %button.header__box__upper__form__upper-search-btn{type: "submit"}
          = fa_icon "search"

    .header__box__bottom
      .header__box__bottom__left
        .header__box__bottom__left__categories
          = link_to "" , class: "header__box__bottom__left__categories__link" do
            = fa_icon "list-ul", class: "header__box__bottom__left__categories__link__icon"
            カテゴリーから探す
          #categories-menu.header__box__bottom__left__categories__lists
            %ul.header__box__bottom__left__categories__lists__hidden-lists
              - @parents.each do |parent|
                %li#categories-parent.header__box__bottom__left__categories__lists__hidden-lists__list
                  = link_to "", class: "header__box__bottom__left__categories__lists__hidden-lists__list__parents" do
                    = parent.name
                  %ul#categories-children.header__box__bottom__left__categories__lists__hidden-lists__list__children-lists
                    - parent.children.each do |child|
                      %li.header__box__bottom__left__categories__lists__hidden-lists__list__children-lists__list
                        = link_to "", class: "header__box__bottom__left__categories__lists__hidden-lists__list__children-lists__list__children" do
                          = child.name

        .header__box__bottom__left__brands
          = link_to "" , class: "header__box__bottom__left__brands__link" do
            = fa_icon "tag", class: "header__box__bottom__left__brands__link__icon"
            ブランドから探す
          .header__box__bottom__left__brands__lists
            %ul.header__box__bottom__left__brands__lists__hidden-lists
              %li.header__box__bottom__left__brands__lists__hidden-lists__list
                = link_to "", class: "header__box__bottom__left__brands__lists__hidden-lists__list__brand-name" do
                  シャネル
                = link_to "", class: "header__box__bottom__left__brands__lists__hidden-lists__list__brand-name" do
                  ナイキ
                = link_to "", class: "header__box__bottom__left__brands__lists__hidden-lists__list__brand-name" do
                  ルイ ヴィトン
                = link_to "", class: "header__box__bottom__left__brands__lists__hidden-lists__list__brand-name" do
                  シュプリーム
                = link_to "", class: "header__box__bottom__left__brands__lists__hidden-lists__list__brand-name" do
                  アディダス
                = link_to "", class: "header__box__bottom__left__brands__lists__hidden-lists__list__brand-name" do
                  ブランド一覧

      %ul.header__box__bottom__right
        - if user_signed_in?
          %li.header__box__bottom__right__like
            = link_to "", class: "header__box__bottom__right__like__link" do
              = fa_icon "heart-o", class: "header__box__bottom__right__like__link__icon"
              いいね!一覧
          %li.header__box__bottom__right__info
            = link_to  "", class: "header__box__bottom__right__info__link" do
              = fa_icon "bell-o", class: "header__box__bottom__right__info__link__icon"
              お知らせ
            .header__box__bottom__right__info_lists

          %li.header__box__bottom__right__todo
            = link_to "", class: "header__box__bottom__right__todo__link" do
              = fa_icon "check", class: "header__box__bottom__right__todo__link__icon"
              やることリスト
            .header__box__bottom__right__todo__lists

          %li.header__box__bottom__right__my-page
            = link_to user_path(current_user.id), class: "header__box__bottom__right__my-page__link" do
              = image_tag("https://static.mercdn.net/images/member_photo_noimage_thumb.png", class: "header__box__bottom__right__my-page__link__profile-image")
              マイページ
            .header__box__bottom__right__my-page__lists

        - else
          %li.header__box__bottom__right__sign-up
            = link_to "新規会員登録", new_user_registration_path, class: "header__box__bottom__right__sign-up__btn"
          %li.header__box__bottom__right__log-in
            = link_to "ログイン", new_user_session_path,class: "header__box__bottom__right__log-in__btn"