.wrapper 
  = render "shared/header"

  %h1  商品の情報を入力
  = form_for(@product) do |f|
    %li
    出品画像
    - @image.each do |i|
      = image_tag(i.image_url.url, id: "product_image")
    = f.fields_for :images do |i|
      = i.file_field :image_url, class: "file-field"
    %li
    商品名
    = form_for(@product) do |f|
      = f.text_field :title, class: '', placeholder: ''
    %li
    商品の説明
    %li
    = f.text_field :text, class: '', placeholder: ''  
    %li
    = f.submit "変更する", class: ''
    %li
    キャンセル