mercari

- @parents.each do |parent|
  = parent.name
  ：
  - parent.children.each do |child|
    = child.name
    ：
    - child.children.each do |grandchild|
      = grandchild.name

- @product.each do |p|
  %p.product
    = p.title
    = p.image
    = p.text
    = p.price
  .line ------------------------------

= link_to "商品投稿", new_product_path, class: 'new_exhibit'
