
%h1  出品フォーム
= form_for @product do |f|
  %h4 出品画像
  = f.file_field :image
  %br/
  %h4 商品名
  = f.text_field :title, placeholder: '商品名（必須 40文字まで）'
  %br/
  %h4 商品の説明
  = f.text_area :text, placeholder: '商品の説明'
  %br/
  %h4 価格
  = f.number_field :price, placeholder: '例) 300'
  %br/
  = f.submit :"出品する"

  = link_to "もどる", root_path


