%b my product show
%li
= @product.title
%li
= image_tag "#{@product.image}"
%li
出品者
= @user.nickname
%li
カテゴリー
%li
ブランド
%li
商品のサイズ
%li
商品の状態
%li
配送料の負担
%li
配送の方法
%li
配送元地域
%li
発送日の目安
%li
= @product.price
%li
= @product.text
%li
= link_to "商品の編集", edit_product_path, class: ''
%li
= link_to "出品を一旦停止する", ''
%li
= link_to "この商品を削除する", ''
%li
"コメント箇所"
%li
%button.message-submit.btn-default.btn-gray{type:"submit"}
%span コメントする