.wrapper
  = render "shared/header"
  - breadcrumb :buyer_show_product, current_user
  = render 'layouts/breadcrumbs'
  .buyer-show-main
    .show_main-box
      = render "shared/product_box"
      .control-box
        .control-box__inner
          .control-box__inner__four
            .control-box__inner__four__edit
              = link_to "商品の編集", edit_product_path, class: 'edit-btn'
            .control-box__inner__four__or or
            .control-box__inner__four__stop
              = link_to "出品を一旦停止する", {}, class: 'stop-btn'
            .control-box__inner__four__destroy
              = link_to "この商品を削除する", product_path, method: :delete , class: 'destroy-btn'
      = render "shared/message_box"
    = render 'shared/footer'