.default-container 
  .item-box-container_l-single-container
    .item-name
      = @product.title
    .item-main-content_clearfix
      .item-photo
        = image_tag "#{@product.image}"
    .item-detail-table
      出品者
      カテゴリー
      ブランド
      商品のサイズ
      商品の状態
      配送料の負担
      配送の方法
      配送元地域
      発送日の目安
    .item-price-box
      = @product.price
    .item-buy-btn
    = link_to "購入画面に進む", ''
    .item-description
      = @product.text
    .item-detail-message
      "コメント箇所"
    %button.message-submit.btn-default.btn-gray{type:"submit"}
      %span コメントする